@page
@model azure_app_kinawy.Pages.Shared.DeploymentSlotsModel
@{
    ViewData["Title"] = "Deployment Slot Page";
}

<div class="text-center">
    <h1 class="display-4">
        Testing Deployment Slots
    </h1>

    <h3>
        Validating Deployment Slot Feature
    </h3>
</div>
    